{%- macro booksReading(data=collections.booksReading, title="Books I’m currently reading", removeSubtitle=false) -%}
  {% for book in data %}
    {% if loop.first %}
    <h2>{{ title }}</h2>
    <ul>
    {% endif %}
    <li>
      <em>{{ book.title | removeSubtitle if noSubtitle else book.title }}</em>
      <span class="text-small">by {{ book.author | formatAuthor }}</span>
    </li>
    {% if loop.last %}</ul>{% endif %}
  {% endfor %}
{%- endmacro -%}
