---
layout: layouts/base.njk
pagination:
  data: collections.note
  size: 10
  reverse: true
  alias: notes
---
{% for note in notes %}
  <article class="article note--{{ note.fileSlug }}">
    <header class="article-header">
      <h1><a href="{{ note.url | url }}">{{ note.data.title }}</a></h1>
      <time datetime="{{ note.data.date | dateIso }}">{{ note.data.date | dateReadable }}</time>
    </header>
    {# <section class="article-body space-items-sm"> #}
      {{ note.templateContent | safe }}
    {# </section> #}
  </article>
{#   
  <hr> #}
{% endfor %}
