<article class="Article Prose Prose--contain">
  <header class="Article__header">
    {% if item.data.display_title != false %}
      <h1 class="Article__title">{{ item.data.title | safe }}</h1>{# mt-xxs #}
    {% endif %}
    <dl class="Article__meta">
      <dt class="visually-hidden">Published on</dt>
      <dd><time datetime="{{ item.data.dateCreated | htmlDateString }}">{{ item.data.dateCreated | readableDate }}</time></dd>
      {% if item.data.location %}
        <dt class="visually-hidden">Published in</dt>
        <dd>{{ item.data.location }}</dd>
      {% endif %}
    </dl>
  </header>
  {{ item.templateContent | safe }}
</article>
