{% if not collection %}{% set collection = collections.posts %}{% endif %}
<div class="Articles__list space-items-huge">
  {% for item in collection | reverse %}
    {#- Show draft items when on dev environment #}
    {% if (item.data.status !== "draft") or ((item.data.status === "draft") and (site.env === "dev")) %}
      {%- from "macros/article.njk" import article -%}
      {{ article(item) }}
    {% endif %}
  {% endfor %}
</div>
