<nav style="--linear-measure: auto;">
  <ul class="BooksSubmenu list-unstyled" style="--flow-space: 0;">
    <li>View as:</li>
    <li><a class="{{ "active" if "/reading/and-drawing-all-the-books/" == page.url }}" href="/reading/and-drawing-all-the-books/">a big grid of drawings</a></li>
    <li><a class="{{ "active" if "/reading/brief-notes-and-drawings/" == page.url }}" href="/reading/brief-notes-and-drawings/">brief notes and drawings</a></li>
    <li><a class="{{ "active" if "/reading/" == page.url }}" href="/reading/">plain text list</a></li>
  </ul>
</nav>
