<nav class="NavInline" style="--linear-measure: auto;">
  <ul class="NavInline__list list-unstyled">
    <li class="NavInline__listItem">Or,&nbsp;view&nbsp;as:</li>
    <li class="NavInline__listItem"><a class="NavInline__link" {{ 'aria-current="page" ' | safe if page.url === "/book-drawings/" }}href="/book-drawings/">a&nbsp;drawing&nbsp;of&nbsp;every&nbsp;book</a></li>
    <li class="NavInline__listItem"><a class="NavInline__link" {{ 'aria-current="page" ' | safe if page.url === "/reading/brief-notes-and-drawings/" }}href="/reading/brief-notes-and-drawings/">brief&nbsp;notes&nbsp;and&nbsp;drawings</a></li>
    <li class="NavInline__listItem"><a class="NavInline__link" {{ 'aria-current="page" ' | safe if page.url === "/reading/" }}href="/reading/">a&nbsp;plain&nbsp;text&nbsp;list</a></li>
  </ul>
</nav>
