{# <div class=""> #}
  <ul class="BooksSubmenu list-unstyled">
    <li>View as: </li>
    <li><a class="{{ "active" if "/drawing-the-books-ive-read-grid/" == page.url }}" href="/drawing-the-books-ive-read-grid/">a grid of drawings</a></li>
    <li><a class="{{ "active" if "/books-ive-read-with-synopsis/" == page.url }}" href="/books-ive-read-with-synopsis/">drawings and synopses</a></li>
    <li><a class="{{ "active" if "/books-ive-read/" == page.url }}" href="/books-ive-read/">a plain text list</a></li>
  </ul>
{# </div> #}
