{% for tag in tags %}
  {% if tag != "posts" %}<i>#{{ tag }}&nbsp;&nbsp;</i>{% endif %}
{% else %}{% endfor %}
{#- Previous code... forget what this did -#}
{#- {% for tag in post.data.tags %}
  {% if collections.tagList.indexOf(tag) != -1 %}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    <a href="{{ tagUrl | url }}" class="Tag">{{ tag }}</a>
    {{ tag }}
  {% endif %}
{% endfor %} -#}
