---
title: Hey, New Website
date: Last Modified
dateCreated: 2021-05-01
---
<p>In the spirit and acknolwedgement of the potential for personal websites to languish in the endless iterative loop of developmental limbo, here is a reinterpretation of a Geocities-era “under construction” GIF: ten frames rendered by hand with the pastels I still have from middle school art class.</p>
<figure>
  <div class="ratio ratio--square">
    <iframe src="https://player.vimeo.com/video/543968889?loop=1&amp;autoplay=1&amp;muted=1" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  </div>
  {# <figcaption>
    <p>Jones, Jeremy Robert. <i>Under Construction</i>. 2021. Digital animation from ten scanned pastels. 2000 px x 2000 px.</p>
  </figcaption> #}
</figure>
