---
layout: layouts/base.njk
---
<article class="Grid Article flow">
  <header class="">{# TODO: no bottom margins (mb-xl) #}
    <h1 class="">{{ title }}</h1>
    <time class="text-muted">{{ page.date | readableDate }}</time>
  </header>
  {{ content | safe }}
</article>
