<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% if title %}{{ title }} | {% endif %}{{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/utilities.css' | url }}">
</head>
<body class="Page{% if pageClass %} {{ pageClass }}{% endif %}">

  <header class="Header Page__grid">
    <a class="SkipNav hidden-til-focus" href="#main" style="text-decoration: underline;">Skip to main content</a>
    <nav>
      <ul class="list-unstyled">
        <li><a href="/">{{ site.title }}</a></li>
        {%- for item in site.navigation %}
          <li><a {{ "aria-current=page " if (item.url == page.url) or (item.url == fakeUrl) }}href="{{ item.url | url }}">{{ item.name }}</a></li>
        {%- endfor %}
      </ul>
    </nav>
  </header>

  <main class="Page__grid mt-10" id="main">
    {{ content | safe }}
  </main>

  <footer class="SiteFooter Page__grid">
    <p class="border-top" style="padding-top: 64px;">© 2021. ⟢ Thanks for visiting!</p>
  </footer>

  <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
  <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
  <script>
  if (document.readyState !== 'loading') {
    toolTips();
  } else {
    document.addEventListener('DOMContentLoaded', toolTips);
  }

  function toolTips() {
    tippy('[data-toggle="popover"]', {
      content: "Test!"
    });
    // $('[data-toggle="popover"]').popover() })
    // let items = document.querySelectorAll('[data-toggle="popover"]');
    // Array.prototype.forEach.call(items, function(el, i) {
    //   el.
    //}
  }
  </script>

</body>
</html>
