<!DOCTYPE html>
<html lang="en-us">
{%- set pageTitle %}{% if title %}{{ title }} / {% endif %}{{ site.title }}{% endset -%}
{%- set pageDescription %}{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}{% endset -%}
{# {%- set pageSocialImg %}{{ meta.url }}/previews/{% if title %}{{ title | slug }}{% else %}home{% endif %}.png{% endset -%} #}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {# Styles #}
  <link href="{{ '/css/style.css' | url }}" rel="stylesheet">
  <link href="{{ '/css/utilities.css' | url }}" rel="stylesheet">
  <link href="{{ '/css/tags.css' | url }}" rel="stylesheet">
  <link href="{{ '/css/prism-tomorrow.css' | url }}" rel="stylesheet">
  {# Primary meta #}
  <title>{{ pageTitle }}</title>
  <meta name="description" content="{{ pageDescription }}">
  <meta name="author" content="{{ site.authorName }}">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  {# Twitter #}
  <meta name="twitter:card" content="summary_large_image">
  {%- if site.twitterUsername %}
  <meta name="twitter:creator" content="@{{ site.twitterUsername }}">
  {%- endif %}
  <meta name="twitter:title" content="{{ pageTitle }}">
  <meta name="twitter:description" content="{{ pageDescription }}">
  {# <meta name="twitter:image" content="{{ pageSocialImg }}"> #}
  {# Open Graph #}
  <meta name="og:title" content="{{ pageTitle }}">
  <meta name="og:description" content="{{ pageDescription }}">
  {# <meta property="og:image" content="{{ pageSocialImg }}"> #}
</head>
<body class="Page{% if pageClass %} {{ pageClass }}{% endif %} space-items-huge">

  <header class="PageHeader PageGrid">
    <a class="SkipNav hidden-til-focus" href="#main">Skip to main content</a>
    <nav class="PageHeader__nav">
      <ul class="PageHeader__navList list-unstyled" role="list">
        <li class="PageHeader__navListItem">
          <a {{ 'aria-current="page" ' | safe if page.url === "/" }}class="PageHeader__navLink{{ " active" if fakeUrl === "home" }}" href="/">{{ site.title }}</a>
        </li>
        {%- for item in site.navigation %}
        <li class="PageHeader__navListItem">
          <a {{ 'aria-current="page" ' | safe if page.url === item.url }}class="PageHeader__navLink{{ " active" if fakeUrl === item.url }}" href="{{ item.url | url }}">{{ item.name }}</a>
        </li>
        {%- endfor %}
      </ul>
    </nav>
  </header>

  <main class="PageGrid" id="main">
  {% block content %}
    {{ content | safe }}
  {% endblock %}
  </main>

  <footer class="SiteFooter PageGrid">
    <p class="border-top" style="padding-top: 64px;">©&nbsp;2021. &nbsp; &nbsp;⟢&nbsp;Thanks for visiting! &nbsp; &nbsp;⟢&nbsp;<a href="mailto:{{ site.authorEmail }}">Feel free to email me.</a></p>
  </footer>

</body>
</html>
