<!DOCTYPE html>
<html lang="en-us">
{% set pageTitle = [title, " / ", site.title] | join if title else site.title %}
{% set pageDescription = description if description else site.description %}
{# {%- set pageSocialImage %}{{ meta.url }}/previews/{% if title %}{{ title | slug }}{% else %}home{% endif %}.png{% endset -%} #}
{# {% set pageSocialImage = [meta.url, "/previews/", title | slug] | join if title else "home.png" %} #}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {# Styles #}
  <link href="{{ '/css/style.css' | url }}" rel="stylesheet">
  {# <link href="{{ '/css/utilities.css' | url }}" rel="stylesheet"> #}
  <link href="{{ '/css/prism-tomorrow.css' | url }}" rel="stylesheet">
  {# Primary meta #}
  <title>{{ pageTitle }}</title>
  <meta name="description" content="{{ pageDescription }}">
  <meta name="author" content="{{ site.authorName }}">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <link href="/feed.xml" rel="alternate" title="minttoothpick’s posts feed" type="application/rss+xml">
  <link href="/feed-notes.xml" rel="alternate" title="minttoothpick’s notes feed" type="application/rss+xml">
  {# Twitter #}
  <meta name="twitter:card" content="summary_large_image">
  {%- if site.twitterUsername %}
  <meta name="twitter:creator" content="@{{ site.twitterUsername }}">
  {%- endif %}
  <meta name="twitter:title" content="{{ pageTitle }}">
  <meta name="twitter:description" content="{{ pageDescription }}">
  {# <meta name="twitter:image" content="{{ pageSocialImage }}"> #}
  {# Open Graph #}
  <meta name="og:title" content="{{ pageTitle }}">
  <meta name="og:description" content="{{ pageDescription }}">
  {# <meta property="og:image" content="{{ pageSocialImage }}"> #}
</head>
{# <body class="Page Page--{% if page.fileSlug %}{{ page.fileSlug }}{% else %}home{% endif %} Layout--{{ layout}} flow-super"> #}
<body class="page__{{ page.fileSlug if page.fileSlug else "home" }} layout__{{ layout }} flow-super">

  {# <header class="PageHeader PageGrid">
    <a class="SkipNav hidden-til-focus" href="#main">Skip to main content</a>
    <nav class="PageHeader__nav">
      <ul class="PageHeader__navList list-unstyled" role="list">
        <li class="PageHeader__navListItem">
          <a {{ 'aria-current="page" ' | safe if page.url === "/" }}class="PageHeader__navLink{{ " active" if fakeUrl === "home" }}" href="/">{{ site.title }}</a>
        </li>
        {%- for item in site.navigation %}
        <li class="PageHeader__navListItem">
          <a {{ 'aria-current="page" ' | safe if page.url === item.url }}class="PageHeader__navLink{{ " active" if fakeUrl === item.url }}" href="{{ item.url | url }}">{{ item.name }}</a>
        </li>
        {%- endfor %}
      </ul>
    </nav>
  </header> #}

  <header class="site-header wrapper">
    <a class="skip-nav hidden-til-focus" href="#main">Skip to main content</a>
    <nav class="site-nav">
      <ul class="site-nav__list" role="list">
        <li class="site-nav__item">
          <a {{ 'aria-current="page" data-state="active"' | safe if page.url === "/" }} href="/">{{ site.title }}</a>
        </li>
        {%- for item in site.navigation %}
        <li class="site-nav__item">
          <a {{ 'aria-current="page" data-state="active"' | safe if page.url === item.url }} href="{{ item.url | url }}">{{ item.name }}</a>
        </li>
        {%- endfor %}
      </ul>
    </nav>
  </header>

  {# <main class="PageGrid" id="main">
  {% block content %}
    {{ content | safe }}
  {% endblock %}
  </main> #}

  {# Add `mainClass` to any front matter to populate this class #}
  {# <main{{ [' class="', mainClass, '"'] | join | safe if mainClass }} id="main"> #}
  <main class="flow {{ mainClass if mainClass }}" id="main">
    {{ content | safe }}
  </main>

  {# <footer class="SiteFooter PageGrid">
    <p class="border-top" style="padding-top: 64px;">©&nbsp;2021. &nbsp; &nbsp;⟢&nbsp;Thanks for visiting! &nbsp; &nbsp;⟢&nbsp;<a href="mailto:{{ site.authorEmail }}">Feel free to email me.</a></p>
  </footer> #}

  <footer class="site-footer wrapper">
    <p>©&nbsp;2021. &nbsp; &nbsp;⟢&nbsp;Thanks for visiting. <a href="mailto:{{ site.authorEmail }}">Email me!</a></p>
  </footer>

</body>
</html>
