---
layout: layouts/base.njk
---
<article class="article">
  <header class="article-header">
    <h1 class="article-title">{{ title }}</h1> 
    <time class="article-time" datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time> 
  </header>
  <section class="article-body">
    {{ content | safe }}
  </section>
</article>