---
layout: base
---
<style>
.clouds {
  --max-width: 50%;
  order: -1;
}

.clouds {
  margin-block-start: var(--size-lg);
}

.NowGrid--thirds h2 {
  margin-block-start: var(--size-lg);
}

@media (min-width: 700px) {
  .NowGrid {
    display: grid;
    column-gap: var(--size-lg);
  }

  .clouds {
    margin-block-start: 0;
  }

  .NowGrid--thirds h2 {
    margin-block-start: 0;
  }
}

.NowGrid--halves {
  grid-template-columns: repeat(2, 1fr);
}

.NowGrid--thirds {
  grid-template-columns: repeat(2, 1fr);
}

.NowGrid-section {
  margin-block-start: var(--size-xl);
}

@media (min-width: 1200px) {
  .NowGrid--thirds {
    grid-template-columns: repeat(3, 1fr);
  }

  .NowGrid-section {
    margin-block-start: 0;
  }
}

.NowGrid + .NowGrid {
  margin-block-start: var(--size-xl);
}
</style>
<article class="Prose">
  <div class="NowGrid NowGrid--halves">
    <div class="Prose">
      <header class="Content__header mt-none">
        <h1 class="Content__title">{{ title }}</h1>
        <dl class="Content__meta">
          <dt>Updated on</dt>
          <dd><time datetime="{{ page.date | date('iso') }}">{{ page.date | date('nice') }}</time></dd>
          {% if location %}
            <dt class="visually-hidden">Published in</dt>
            <dd>{{ location }}</dd>
          {% endif %}
        </dl>
      </header>
      {{ content | safe }}
    </div>
    {% image imgClass, imgSrc, imgAlt, imgCaption %}
  </div>

  <div class="NowGrid NowGrid--thirds">
    <section class="NowGrid-section Prose">
      {% set booksListTitle = "Books I’m reading" %}
      {# {% set noSubtitle = true %} #}
      {% include "snippets/books-reading-list.njk" %}
    </section>

    <section class="NowGrid-section Prose">
      <h2>A quote I like</h2>
      <figure>
        <blockquote cite="{{ quoteUrl }}">
          {{ quoteText | markdown | safe }}
        </blockquote>
        <figcaption>
          {{ quoteCite | markdown | safe }}
        </figcaption>
      </figure>
    </section>

    <section class="NowGrid-section Prose">
      {{ somethingElse | safe }}
    </section>
  </div>
  <div class="NowGrid">
    <p>This is a “now page.” <a href="https://nownownow.com/about">What's that?</a></p>
  </div>
</article>
