---
layout: base
---
<style>
.clouds {
  --max-width: 50%;
  order: -1;
}

.clouds {
  margin-block-start: var(--container-space);
}

.now-grid--thirds h2 {
  margin-block-start: var(--container-space);
}

@media (min-width: 700px) {
  .now-grid {
    display: grid;
    column-gap: var(--container-space);
  }

  .clouds {
    margin-block-start: 0;
  }

  .now-grid--thirds h2 {
    margin-block-start: 0;
  }
}

.now-grid--halves {
  grid-template-columns: repeat(2, 1fr);
}

.now-grid--thirds {
  grid-template-columns: repeat(2, 1fr);
}

.now-grid-section {
  margin-block-start: var(--flow-expanded);
}

@media (min-width: 1200px) {
  .now-grid--thirds {
    grid-template-columns: repeat(3, 1fr);
  }

  .now-grid-section {
    margin-block-start: 0;
  }
}

.now-grid + .now-grid {
  margin-block-start: var(--flow-expanded);
}
</style>
<article class="wrapper" style="--max-width: var(--width-full);">
  <div class="now-grid now-grid--halves">
    <div class="">
      <header class="post__header">
        <h1 class="post__title">{{ title }}</h1>
        <dl class="post__meta">

          <dt>Updated on</dt>
          <dd><time datetime="{{ page.date | date('iso') }}">{{ page.date | date('nice') }}</time></dd>

          {% if location %}
            <dt class="visually-hidden">Published in</dt>
            <dd>{{ location }}</dd>
          {% endif %}

        </dl>
      </header>

      <div class="prose-flow flow" style="margin-block-start: var(--s0);">
        {{ content | safe }}
      </div>

    </div>

    {% image imgClass, imgSrc, imgAlt, imgCaption %}
  </div>

  <div class="now-grid now-grid--thirds">
    <section class="now-grid-section flow prose-flow">
      {% set booksListTitle = "Books I’m reading" %}
      {% set noSubtitle = true %}
      {% include "partials/books-reading-list.njk" %}
    </section>

    <section class="now-grid-section flow prose-flow">
      <h2>A quote I like</h2>
      <figure>
        <blockquote cite="{{ quoteUrl }}">
          {{ quoteText | markdown | safe }}
        </blockquote>
        <figcaption>
          {{ quoteCite | markdown | safe }}
        </figcaption>
      </figure>
    </section>

    <section class="now-grid-section flow prose-flow">
      {{ somethingElse | safe }}
    </section>
  </div>
  <div class="now-grid">
    <p>This is a “now page.” (<a href="https://nownownow.com/about">…what's that?</a>)</p>
  </div>
</article>
