:root {
  /**
   * Sizes
   *
   * TODO: Simplify things... do you really need `size` and `gap` properties?
   */
  --size-05: 0.5rem;
  --size-0: 1rem; /* 16px */
  --size-1: 1.25rem; /* 20px */
  --size-2: 1.375rem; /* 22px */
  --size-3: 1.5rem; /* 24px */
  --size-4: 2rem; /* 32px */
  --size-5: 3rem; /* 48px */
  --gap: var(--size-4); /* 2rem = 32px */
  --gap-2: calc(var(--gap) * 1.5); /* 3rem = 48px */
  --gap-4: calc(var(--gap) * 2); /* 4rem = 64px */

  /* Trying some new properties... */
  --size-xs: 0.5rem; /* 8px */
  --size-base: 1rem; /* 16px */
  --size-md: 1.5rem; /* 24px */
  --size-lg: 3rem; /* 48px */
  --size-xl: 4.5rem; /* 72px */
  --size-xxl: 6rem; /* 96px */
  --size-huge: 12rem; /* 192px */

  /* Test by assigning old props to new... */
  --size-05: var(--size-xs);
  --size-0: var(--size-base);
  --size-1: var(--size-md);
  --size-2: var(--size-md);
  --size-3: var(--size-md);
  --size-4: var(--size-lg);
  --size-5: var(--size-lg);
  --gap: var(--size-lg);
  --gap-2: var(--size-lg);
  --gap-4: var(--size-xl);

  /* New functional names */
  --gap: var(--size-lg);

  --text-measure: 40rem; /* 640px */
  --linear-measure: var(--text-measure); /* 40rem = 640px @ 16px base */
  --container-max-width: 80rem; /* 1280px */
  /* --font-size-small: var(--size-0); */
  --font-size-small: 1rem;
  /* --font-size-body: var(--size-1); */
  --font-size-body: 1.25rem;
  /* --font-size-title: var(--size-4); */
  --font-size-title: 2rem;

  /**
   * Colors
   */
  --text-muted: rgba(0, 0, 0, 0.65);
  --gray-light: rgba(0, 0, 0, 0.25);
  --gray-extralight: rgba(0, 0, 0, 0.1);
  --bg-color: white;
  --text-color: black;

  /**
   * Fonts
   */
  --font-sans: "Infini", "Lato", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;

  /* https://qwtel.com/posts/software/the-monospaced-system-ui-css-font-stack/ */
  --font-mono: "Fira Code", ui-monospace, "Menlo", "Monaco", "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

@media (min-width: 800px) {
  :root {
    /* --gap: var(--size-4); 2rem = 32px */
    /* --gap-2: calc(var(--gap) * 2); 4rem = 64px */
    /* --gap-4: calc(var(--gap) * 4); 8rem = 128px */
    /* --font-size-small: var(--size-1); */
    --font-size-small: 1.25rem;
    /* --font-size-body: var(--size-2); */
    --font-size-body: 1.375rem; /* TODO: try 1.5? */
    /* --font-size-title: var(--size-5); */
    --font-size-title: 3rem;
  }
}

/* Fonts
   ========================================================================== */

@font-face {
  font-display: swap;
  font-family: 'Infini';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/infini/infini-regular.eot');
  src: url('../fonts/infini/infini-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/infini/infini-regular.woff') format('woff'), url('../fonts/infini/infini-regular.woff2') format('woff2'), url('../fonts/infini/infini-regular.ttf') format('truetype'), url('../fonts/infini/infini-regular.svg#svgFontName') format('svg');
}

@font-face {
  font-display: swap;
  font-family: 'Infini';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/infini/infini-bold.eot');
  src: url('../fonts/infini/infini-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/infini/infini-bold.woff') format('woff'), url('../fonts/infini/infini-bold.woff2') format('woff2'), url('../fonts/infini/infini-bold.ttf') format('truetype'), url('../fonts/infini/infini-bold.svg#svgFontName') format('svg');
}

@font-face {
  font-display: swap;
  font-family: 'Infini';
  font-style: italic;
  font-weight: normal;
  src: url('../fonts/infini/infini-italic.eot');
  src: url('../fonts/infini/infini-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/infini/infini-italic.woff') format('woff'), url('../fonts/infini/infini-italic.woff2') format('woff2'), url('../fonts/infini/infini-italic.ttf') format('truetype'), url('../fonts/infini/infini-italic.svg#svgFontName') format('svg');
}

/* Reset
   ========================================================================== */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ol,
ul {
  margin: 0;
}

picture,
img {
  display: block;
  max-width: 100%;
}

img {
  height: auto;
}

/* `!important` b/c it overrides Prism.js */
code,
pre {
  font-family: var(--font-mono) !important;
  font-size: var(--size-md) !important;
}

pre {
  overflow-x: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Base
   ========================================================================== */

:focus {
  outline: 2px dashed;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-sans);
  font-size: var(--font-size-body);
  line-height: 1.6;
  padding-block-start: var(--size-lg);
  padding-block-end: var(--size-lg);
}

h1,
.h1 {
  font-weight: normal;
}

h2,
.h2 {
  font-size: inherit;
  font-weight: bold;
  line-height: inherit;
}

a {
  color: currentColor;
  padding: 0.5rem;
  margin: -0.5rem;
  text-decoration-skip-ink: auto;
}

a[aria-current],
a.active {
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

ol li::marker {
  color: var(--text-muted);
}

ul li {
  list-style-type: var(--list-marker-content, "– ");
}

ul li::marker {
  color: var(--gray-light);
  content: var(--list-marker-content, "– ");
}

blockquote {
  border-inline-start: 4px solid var(--gray-light);
  margin-inline-start: var(--size-base);
  padding-inline-start: var(--size-base);
}

hr {
  background-color: var(--gray-light);
  border: none;
  margin-inline-start: 0;
  margin-inline-end: 0;
  width: 100%;
  height: 2px;
}

/* Layouts
   ========================================================================== */

/*
 * Grid
 * The content col will shrink and grow to a maximum of
 * the `--text-measure` custom property (40rem).
 * When that width is reached, the other column begins expanding (1fr).
 * The max width on the entire grid element, along with `margin-inline: auto`,
 * ensures that it never grows wider than 80rem, and stays centered.
 */
.PageGrid {
  display: grid;
  grid-template-columns:
    [content-start] minmax(0, var(--text-measure)) /* 40rem = 640px */
    [measure] 1fr
    [content-end];
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-width: calc(var(--container-max-width) + (var(--size-lg) * 2)); /* 80rem = 1280px */
  padding-inline-start: var(--size-lg);
  padding-inline-end: var(--size-lg);
}

.PageGrid > * {
  grid-column: content;
}

.PageHeader__navList {
  display: flex;
  flex-wrap: wrap;
}

.PageHeader__navListItem:first-of-type {
  font-weight: bold;
}

/* Inline padding on every item except for last */
.PageHeader__navListItem:not(:last-of-type) {
  padding-inline-end: var(--size-md);
}

/* Hide dividing slash when screen's so small it wraps to own line */
@media (min-width: 240px) {
  .PageHeader__navListItem:first-of-type {
    padding-inline-start: 0;
    padding-inline-end: 0;
  }

  .PageHeader__navListItem:first-of-type::after {
    content: "/";
    color: var(--gray-light);
    padding-inline-start: calc(var(--size-md) / 2);
    padding-inline-end: calc(var(--size-md) / 2);
  }
}

/**
 * TODO: Make this not need a media query
 */
@media (min-width: 600px) {
  .PageHeader__navList {
    justify-content: flex-end;
  }

  .PageHeader__navListItem:first-of-type {
    margin-inline-end: auto;
    padding-block-end: 0;
  }

  .PageHeader__navListItem:first-of-type::after {
    content: none;
  }
}

.SkipNav {
  text-decoration: underline;
}

.SkipNav:hover {
  text-decoration: none;
}

.SkipNav::after {
  content: " ↷";
}

.Intro + .Articles__list {
  margin-block-start: var(--size-xl);
}

.Article__header > * + * {
  margin-block-start: var(--size-md);
}

.Article__title {
  font-feature-settings: "case" on;
  font-size: var(--font-size-title);
  hanging-punctuation: first;
  line-height: 1.2;
}

.Article__title > a {
  text-decoration: none;
}

.Article__meta {
  display: flex;
  flex-wrap: wrap;
  color: var(--text-muted);
  font-size: var(--font-size-small);
  font-variant-numeric: lining-nums;
}

.Article__title + .Article__meta {
  margin-block-start: var(--size-xs);
}

/* If meta label is not `visually-hidden`, we need a space after it */
.Article__meta dt:not([class="visually-hidden"])::after {
  content: "\00a0";
}

.Article__meta dd:not(:last-of-type)::after {
  content: "/";
  color: var(--gray-light);
  padding-inline-start: var(--size-xs);
  padding-inline-end: var(--size-xs);
}

/* Prose
   ========================================================================== */

.Prose {
  hanging-punctuation: first;
  hyphens: auto;
  line-height: inherit;
  word-break: break-word;
}

.Prose--contain > * {
  max-width: var(--linear-measure);
}

.Prose > * + * {
  margin-block-start: var(--size-md);
}

.Prose > h2,
.Prose > h3 {
  hanging-punctuation: first;
}

.Prose > h2 {
  margin-block-start: var(--size-lg);
}

.Prose ol,
.Prose ul {
  padding-inline-start: 1em;
}

/* TODO: First selector's kinda lame, requires !imp on TagsGrid (tags.css) */
.Prose li:not(:first-child),
.Prose li > ul,
.Prose li > ol {
  margin-block-start: var(--size-xs);
}

.Prose--article li > * + * {
  margin-block-start: var(--size-xs);
}

/* Extra block margin on these elems */
.Prose > blockquote,
.Prose > figure,
.Prose > hr,
.Prose > blockquote + *,
.Prose > hr + *,
.Prose > figure + * {
  margin-block-start: var(--size-lg);
}

.Prose figcaption {
  color: var(--text-muted);
  font-size: var(--font-size-small);
  line-height: 1.5;
  margin-block-start: var(--size-base);
}

/* `!important` b/c it overrides Prism.js */
.Prose > pre,
.Prose > pre + * {
  margin-block-start: var(--size-lg) !important;
}

/* `!important` b/c it overrides Prism.js */
.Prose > pre {
  margin-inline-start: -1em !important;
  margin-inline-end: -1em !important;
}

.Prose--contain > pre {
  /* TODO: ? */
  width: calc(100vw - 1.25em);
  /* Subtract inline margin pull amount to max width */
  max-width: calc(var(--linear-measure) + 2em);
}

/* Reset block margin on floated figs */
.Prose--article > .align-pull-end,
.Prose--article > .align-pull-end + *,
.Prose--article > .align-pull-start,
.Prose--article > .align-pull-start + * {
  margin-block-start: var(--size-md);
}

.Prose--article > figure + .Article__footer {
  margin-block-start: var(--size-md);
}

/* TODO: Implement multi image rows */

/* Avoid margin staggering on side-by-side photos */
/* .Prose img {
  margin-block-start: 0;
} */

.Prose > .align-full-bleed {
  /* Unset this width limitation from .Prose */
  --linear-measure: auto;
  display: grid;
  grid-template-columns:
    /* Add padding gap to align end right w/ .Prose text */
    [bleed-start] minmax(0, calc(var(--text-measure) + var(--size-lg)))
    [measure] 1fr
    [bleed-end];
  margin-inline-start: calc(var(--size-lg) * -1);
  margin-inline-end: calc(var(--size-lg) * -1);
}

.Prose > .align-full-bleed > :first-child {
  grid-column: bleed;
}

.Prose > .align-full-bleed > figcaption {
  /* Add side padding to offset being full-width */
  padding-inline-start: var(--size-lg);
  padding-inline-end: var(--size-lg);
}

@media (min-width: 440px) {
  .Prose > .align-end,
  .Prose > .align-pull-end {
    float: inline-end;
    margin-inline-start: var(--size-lg);
    /* width: 33%; */
    /* Set minimum width of 250px */
    width: max(250px, 33%);
  }

  .Prose > .align-pull-end {
    margin-inline-end: calc(var(--size-lg) * -1);
  }

  .Prose > .align-start,
  .Prose > .align-pull-start {
    float: inline-start;
    margin-inline-end: var(--size-lg);
    /* Set minimum width of 250px */
    width: max(250px, 33%);
  }

  /* Pull figure into page gutter padding area */
  .Prose > .align-pull-start {
    margin-inline-start: calc(var(--size-lg) * -1);
  }
}

.Prose--article > .photo-row {
  display: grid;
  gap: var(--size-base);
  /* Get --columns property from HTML to decide how many to display */
  grid-template-columns: repeat(var(--columns, 2), 1fr);
}

/* Specific pages
  ========================================================================== */

/* TODO: Change this to Prose--article */
/* Extra margin on first element following header on single article pages */
.Page--article .Article__header + * {
  margin-block-start: var(--size-lg);
}

.Page--now figure:first-of-type {
  shape-outside: polygon(13.87% 1.9%, 36.42% -0.12%, 51.4% 4.48%, 54.75% 18.87%, 56.48% 30.92%, 63.49% 35.99%, 75.58% 39.88%, 83.53% 48.24%, 88.44% 68.12%, 81.66% 83.25%, 70.37% 100.23%, 42.47% 102.61%, 21% 74.49%, 36px 66.87%, 8.6% 54%, -0.89% 28.81%);
  margin-block-start: -0.5em;
  padding-inline-end: var(--size-lg);
}

/* Reading/Books
   ========================================================================== */

.ReadingGrid > h2 {
  font-variant-numeric: lining-nums;
}

@media (min-width: 700px) {
  .ReadingGrid {
    display: grid;
    column-gap: var(--size-lg);
    grid-template-columns: 1fr 2fr;
  }

  .ReadingGrid > h2 {
    align-self: start;
    position: sticky;
    inset-block-start: var(--size-lg);
  }
}




/* Infini doesn't have bold italic, and we don't want some faux nonsense */
.Page--readingNotes h2 {
  font-weight: normal;
  margin-block-start: var(--size-base);
}

/* I think this is for reading notes, actually */
.GridAlt--reading:first-child {
  max-width: 250px;
}

@media (min-width: 700px) {
  .Page--readingNotes h2 {
    margin-block-start: var(--size-lg);
  }

  .GridAlt--reading h2:not(:first-child),
  .GridAlt--reading ul {
    margin-block-start: 0;
  }

  /* .Page--reading .GridAlt > :first-child {
    max-width: 100%;
  } */
}

.NavInline__list {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  hyphens: none;
  word-break: normal;
}

.NavInline__listItem {
  flex-basis: auto;
  /* flex-grow: 1; */
  margin-block-start: 0 !important;
}

.NavInline__listItem:first-of-type {
  padding-inline-end: var(--size-xs);
}

.NavInline__listItem:not(:last-of-type):not(:first-of-type)::after {
  content: "/";
  color: var(--gray-light);
  padding-inline-start: var(--size-xs);
  padding-inline-end: var(--size-xs);
}

.Book {
  padding-inline-end: var(--size-base);
}
