:root {
  /**
   * Sizes
   *
   * TODO: Simplify things... do you really need `size` and `gap` properties?
   */
  --size-05: 0.5rem;
  --size-0: 1rem; /* 16px */
  --size-1: 1.25rem; /* 20px */
  --size-2: 1.375rem; /* 22px */
  --size-3: 1.5rem; /* 24px */
  --size-4: 2rem; /* 32px */
  --size-5: 3rem; /* 48px */
  --space-block: var(--size-05);
  --space-inline: 0.75rem;
  --gap: var(--size-4); /* 2rem = 32px */
  --gap-2: calc(var(--gap) * 1.5); /* 4rem = 64px */
  --gap-4: calc(var(--gap) * 2); /* 8rem = 128px */
  --text-measure: 40rem; /* 640px */
  --linear-measure: var(--text-measure); /* 40rem = 640px @ 16px base */
  --container-max-width: 80rem; /* 1280px */
  --font-size-small: var(--size-0);
  --font-size-body: var(--size-1);
  --font-size-title: var(--size-4);

  /**
   * Colors
   */
  --text-muted: rgba(0, 0, 0, 0.65);
  --gray-light: rgba(0, 0, 0, 0.25);

  /**
   * Fonts
   */
  --font-sans: "Infini", "Lato", serif, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;

  /* https://qwtel.com/posts/software/the-monospaced-system-ui-css-font-stack/ */
  --font-mono: ui-monospace, "Menlo", "Monaco", "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

@media (min-width: 800px) {
  :root {
    --gap: var(--size-4); /* 2rem = 32px */
    --gap-2: calc(var(--gap) * 2); /* 4rem = 64px */
    --gap-4: calc(var(--gap) * 4); /* 8rem = 128px */
    --font-size-small: var(--size-1);
    --font-size-body: var(--size-2);
    --font-size-title: var(--size-5);
  }
}

@media (min-width: 1600px) {
  :root {
    /* --size-05: 0.5rem; */
    --size-05: 1rem; /* 16px */
    --size-0: 1.25rem; /* 20px */
    --size-1: 1.5rem; /* 24px */
    --size-3: 2rem; /* 32px */
    --size-4: 3rem; /* 48px */
    --size-5: 5rem; /* 80px */
    --space-block: var(--size-05);
    --space-inline: 0.75rem;
    --gap: var(--size-4); /* 3rem = 48px */
    --gap-2: calc(var(--gap) * 2); /* 6rem = 96px */
    --gap-4: calc(var(--gap) * 4); /* 12rem = 192px */
    --text-measure: 45rem; /* 720px */
    --linear-measure: var(--text-measure); /* 45rem = 720px @ 16px base */
    --container-max-width: 90rem; /* 1440px */
  }
}

/* Fonts
   ========================================================================== */

@font-face {
  font-family: 'Infini';
  src: url('../fonts/infini/infini-regular.eot');
  src: url('../fonts/infini/infini-regular.eot?#iefix') format('embedded-opentype'), url('w../fonts/infini/infini-regular.woff') format('woff'), url('wo../fonts/infini/infini-regular.woff2') format('woff2'), url('../fonts/infini/infini-regular.ttf') format('truetype'), url('../fonts/infini/infini-regular.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Infini';
  src: url('../fonts/infini/infini-bold.eot');
  src: url('../fonts/infini/infini-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/infini/infini-bold.woff') format('woff'), url('../fonts/infini/infini-bold.woff2') format('woff2'), url('../fonts/infini/infini-bold.ttf') format('truetype'), url('../fonts/infini/infini-bold.svg#svgFontName') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Infini';
  src: url('../fonts/infini/infini-italic.eot');
  src: url('../fonts/infini/infini-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/infini/infini-italic.woff') format('woff'), url('../fonts/infini/infini-italic.woff2') format('woff2'), url('../fonts/infini/infini-italic.ttf') format('truetype'), url('../fonts/infini/infini-italic.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* Reset
   ========================================================================== */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ol,
ul {
  margin: 0;
}

picture,
img {
  display: block;
  max-width: 100%;
}

img {
  height: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Base
   ========================================================================== */

:focus {
  outline: 2px dashed;
}

/* ::selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.99);
} */

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-sans);
  font-size: var(--font-size-body);
  line-height: 1.6;
}

h1 {
  font-weight: normal;
}

h2 {
  --flow-space: 2em;
  line-height: inherit;
  font-size: inherit;
  font-weight: bold;
}

a {
  color: currentColor;
  text-decoration-skip-ink: auto;
}

a:hover {
  text-decoration: none;
}

ol,
ul {
  /* padding-inline-start: var(--size-3); */
  padding-inline-start: 0.79em;
  padding-left: 0.79em;
}

li {
  list-style-type: var(--list-marker-content, "– ");
}

li::marker {
  content: var(--list-marker-content, "– ");
  color: var(--gray-light);
}

blockquote {
  border-left: 4px solid var(--gray-light);
  margin-left: var(--size-0);
  padding-left: var(--size-0);
}

hr {
  width: 100%;
  border: none;
  height: 2px;
  background-color: var(--gray-light);
}

/* Pages
   ========================================================================== */

.Page__grid {
  margin-inline: auto;
  margin-left: auto;
  margin-right: auto;

  /* padding-block: var(--gap); */
  /* padding-inline: var(--gap); */

  /* TODO: Does Safari just not like shorthand? Seems to be the case... */
  /* padding-block-start: var(--gap);
  padding-block-end: var(--gap);
  padding-inline-start: var(--gap);
  padding-inline-end: var(--gap); */

  padding: var(--gap);
  display: grid;

  /* Content = 100% until screen is px wide, then max at 80vw */
  grid-template-columns:
    [content-start] minmax(0, var(--text-measure))
    [measure] 1fr
    [content-end];

  /* Overall maximum width */
  max-width: var(--container-max-width); /* 80rem = 1280px @ 16px base */
}

.Page__grid > * {
  grid-column: content;
}

.Header a[aria-current] {
  font-weight: bold;
}

.Header ul {
  display: flex;
  flex-wrap: wrap;
}

.Header li:not(:last-of-type) {
  padding-inline-end: var(--size-3);
  padding-right: var(--size-3);
}

.Header li:first-of-type {
  font-weight: bold;
  padding-inline: 0;
  padding-left: 0;
  padding-right: 0;
}

.Header li:first-of-type::after {
  content: "/";
  color: var(--gray-light);
  padding-inline: calc(var(--space-inline));
  padding-left: calc(var(--space-inline));
  padding-right: calc(var(--space-inline));
}

/**
 * TODO: Make this not need a media query
 */
@media (min-width: 600px) {
  .Header ul {
    justify-content: flex-end;
  }

  .Header li:first-of-type {
    margin-inline-end: auto;
    margin-right: auto;
    padding-block-end: 0;
    padding-bottom: 0;
  }

  .Header li:first-of-type::after {
    content: none;
  }
}

.SkipNav {
  text-decoration: underline;
}

.SkipNav:hover {
  text-decoration: none;
}

.SkipNav::after {
  content: " ↷";
}

.Articles__list > * + * {
  margin-block-start: var(--gap-4);
  margin-top: var(--gap-4);
}

.Article__header > * + * {
  margin-block-start: var(--flow-space);
  margin-top: var(--flow-space);
}

/* Extra margin on first element following article header */
.Page--article .Article__header + * {
  --flow-space: var(--gap-2);
}

/* We don't want that extra margin on article lists or Now page, though */
/* .Articles__list .Article__header + * {
  --flow-space: 0.5em;
} */

.Article__meta {
  --flow-space: 0.5em;
  display: flex;
  flex-wrap: wrap;
  color: var(--text-muted);
  font-size: var(--size-0);
  font-size: var(--font-size-small);
  font-variant-numeric: lining-nums;
}

/* If meta label is not `visually-hidden`, we need a space after it */
.Article__meta dt:not([class="visually-hidden"])::after {
  /* padding-inline: calc(var(--space-inline) / 2); */
  content: "\00a0";
}

.Article__meta dd:not(:last-of-type)::after {
  content: "/";
  color: var(--gray-light);
  padding-inline: calc(var(--space-inline) / 2);
  padding-left: calc(var(--space-inline) / 2);
  padding-right: calc(var(--space-inline) / 2);
}

.Article__title {
  font-feature-settings: "case" on;
  font-size: var(--size-5);
  font-size: var(--font-size-title);
  hanging-punctuation: first;
  line-height: 1.2;
}

.Article__title a {
  text-decoration: none;
}

.Article__meta + .Article__title {
  margin-block-start: var(--size-0);
  margin-top: var(--size-0);
}

.Article__summary {
  color: var(--text-muted);
  font-size: var(--size-3);
  hanging-punctuation: first;
  line-height: 1.4;
}

.Prose {
  --flow-space: 1em;
  --list-display: list-item;
  hanging-punctuation: first;
  hyphens: auto;
  line-height: inherit;
}

.Prose--contain > * {
  max-width: var(--linear-measure);
}

.Prose > * {
  word-break: break-word;
}

.Prose > * + * {
  margin-block-start: var(--flow-space);
  margin-top: var(--flow-space);
}

.Prose h2,
.Prose h3 {
  hanging-punctuation: first;
}

.Prose h2 {
  --flow-space: 2em;
}

/* Add extra top margin to these... */
.Prose * + blockquote,
.Prose *:not(h2) + figure {
  margin-block-start: calc(var(--flow-space) * 2);
  margin-top: calc(var(--flow-space) * 2);
}

/* ...and to the item that follows them. */
.Prose blockquote + *,
.Prose figure + *:not(h2) {
  margin-block-start: calc(var(--flow-space) * 2);
  margin-top: calc(var(--flow-space) * 2);
}

/* Less margin to make floated fig align with text. */
.Prose .align-pull-end,
.Prose .align-pull-start {
  margin-top: var(--flow-space);
}

/* Remove top margin from heading next to floated fig */
.Prose .align-end + h2,
.Prose .align-start + h2,
.Prose .align-pull-end + h2,
.Prose .align-pull-start + h2 {
  margin-top: 0;
}

/* Reset extra margin after floated figures */
.Prose .align-end + *,
.Prose .align-start + *,
.Prose .align-pull-end + *,
.Prose .align-pull-start + * {
  margin-top: var(--flow-space);
}

.Prose figure > * + * {
  margin-block-start: var(--flow-space);
  margin-top: var(--flow-space);
}

.Prose figcaption {
  --flow-space: 0.5em;
  padding-top: var(--space-block);
}

.Prose [class^="align-"] figcaption {
  color: var(--text-muted);
  font-size: var(--size-0);
  font-size: var(--font-size-small);
}

/* .Prose figure:not(:last-child) {
  margin-bottom: var(--gap);
} */

/* Avoid margin staggering on side-by-side photos */
.Prose img {
  margin-top: 0;
}

.Prose ul > * + * {
  --flow-space: calc(var(--size-05) / 2);
  margin-block-start: var(--flow-space);
  margin-top: var(--flow-space);
}

.align-full-bleed {
  /* Unset this width limitation from .Prose */
  --linear-measure: auto;
  display: grid;
  grid-template-columns:
    /* Add padding gap to align end right w/ .Prose text */
    [bleed-start] minmax(0, calc(var(--text-measure) + var(--gap)))
    [measure] 1fr
    [bleed-end];
  margin-inline: calc(var(--gap) * -1);
  margin-left: calc(var(--gap) * -1);
  margin-right: calc(var(--gap) * -1);
}

.align-full-bleed > :first-child {
  grid-column: bleed;
}

.align-full-bleed > figcaption {
  /* Add side padding to offset being full-width */
  padding-inline: var(--gap);
  padding-left: var(--gap);
  padding-right: var(--gap);
}

/* Screen at least 440px */
@media (min-width: 27.5em) {
  .align-end,
  .align-pull-end {
    float: inline-end;
    float: right;
    margin-inline-start: var(--gap);
    margin-left: var(--gap);
    /* width: 33%; */
    /* Set minimum width of 200px */
    width: max(200px, 33%);
  }

  .align-pull-end {
    margin-inline-end: calc(var(--gap) * -1);
    margin-right: calc(var(--gap) * -1);
  }

  .align-start,
  .align-pull-start {
    float: inline-start;
    float: left;
    margin-inline-end: var(--gap);
    margin-right: var(--gap);
    /* Set minimum width of 200px */
    width: max(200px, 33%);
  }

  .align-pull-start {
    margin-inline-start: calc(var(--gap) * -1);
    margin-left: calc(var(--gap) * -1);
  }
}

.photo-row {
  display: grid;
  gap: var(--space-inline);
  /* Get --columns property from HTML to decide how many to display */
  grid-template-columns: repeat(var(--columns, 2), 1fr);
}

/* Reading/Books
   ========================================================================== */

/* TODO: Better naming, reusability */
.BooksGrid,
.BooksNotesGrid {
  column-gap: var(--gap);
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-block-start: var(--gap-4);
  margin-top: var(--gap-4);
}

/* .BooksGrid > h2,
.BooksGrid > ul {
  --flow-space: 2em;
} */

.BooksGrid h2,
.BooksDrawingGrid h2 {
  font-variant-numeric: lining-nums;
}

.BooksNotesGrid > *:first-child,
.BooksNotesGrid > figcaption,
.BooksGrid > h2,
.BooksGrid > ul {
  grid-column: span 2;
}

.BooksNotesGrid > *:first-child {
  /* Set minimum width of 200px */
  /* max-width: min(250px, 100%); */
  max-width: 250px;
}

.BooksGrid > h2:not(:first-child) {
  margin-top: 2em;
}

/* TODO: Can't use flow-space property... see appropriate spacing */
.BooksGrid > ul {
  margin-block-start: 1em;
  margin-top: 1em;
}

/* TODO: Make this layout intrinsic... no media queries? */
@media (min-width: 700px) {
  /* Do we want to add top margins on both MQs, or use row gaps? */
  .BooksGrid {
    gap: var(--gap-4) var(--gap);
  }

  /* TODO: This sucks too! */
  .BooksGrid > h2:not(:first-child),
  .BooksGrid > ul {
    /* margin-block-start: var(--gap-2); */
    /* TODO: Incorrect */
    margin-block-start: 0;
    margin-top: 0;
  }

  .BooksGrid > h2,
  .BooksNotesGrid > *:first-child {
    grid-column: 1;
  }

  .BooksNotesGrid > *:first-child {
    /* Set minimum width of 200px */
    max-width: 100%;
  }

  .BooksGrid > ul,
  .BooksNotesGrid > figcaption {
    grid-column: 2;
  }
}

.BooksSubmenu {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
}

.BooksSubmenu li:not(:last-of-type):not(:first-of-type)::after {
  content: "/";
  color: var(--gray-light);
  padding-inline: calc(var(--space-inline) / 2);
  padding-left: calc(var(--space-inline) / 2);
  padding-right: calc(var(--space-inline) / 2);
}

.BooksSubmenu li:first-of-type {
  padding-inline-end: calc(var(--space-inline) / 2);
  padding-right: calc(var(--space-inline) / 2);
}

.BooksSubmenu .active {
  font-weight: bold;
}

/* Now
   ========================================================================== */

.Page--now figure:first-of-type {
  shape-outside: polygon(13.87% 1.9%, 36.42% -0.12%, 54.4% 4.32%, 61.67% 20.64%, 62.48% 33.27%, 80.57% 38.79%, 96.81% 51.68%, 101.3% 69.24%, 86.82% 96.18%, 56.27% 100.91%, 46.6% 86.5%, 45.7% 76.51%, 21% 74.49%, 36px 66.87%, 8.6% 54%, -0.89% 28.81%);
  margin-top: -0.5em;
  padding-right: 1em;
  /* width: 50%; */
}

.MusicGrid { margin-top: 1em; }

@media (min-width: 600px) {
  .MusicGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}





/**
 * Maybe not
 */
.Wide {
  --linear-measure: auto;
  display: grid;
  grid-template-columns:
    [bleed-start] minmax(0, var(--text-measure))
    [measure] 1fr
    [bleed-end];
  margin-inline: calc(var(--gap) * -1);
  margin-left: calc(var(--gap) * -1);
  margin-right: calc(var(--gap) * -1);
  border: 1px solid salmon;
}

.Flip {
  /* Unset this width limitation from .Prose */
  --linear-measure: auto;
  display: grid;
  grid-template-columns:
    [bleed-start] 1fr
    [measure] minmax(0, var(--text-measure))
    [bleed-end];
  /* margin-inline: calc(var(--gap) * -1); */
}

.Flip > * {
  grid-column: measure;
}





/* Stuff from previous css file
   ========================================================================== */

/**
 * That second line is b/c of `script` tags from the lite-youtube-embed plugin
 */
.Home .Article header + *,
.Home .Article header + script + * {
  margin-top: var(--size-4);
}

/* Specific pages
  ========================================================================== */

.AnotherGrid {
  display: grid;
  grid-column: wide;
  /* [content] minmax(min(100%, 800px), 80vw) */
  grid-template-columns: minmax(min(100%, 56ch), 2fr) minmax(0, 1fr);
  /* grid-template-columns: minmax(auto, 56ch) minmax(0, 1fr); */
  column-gap: var(--size-4);
}

.AnotherGrid > * {
  grid-column: 1;
}
