/* TODO: Make intrinsic (i.e., no media queries) */
.TagsGrid {
  gap: var(--size-05);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.TagsGrid__listItem {
  margin-block-start: 0 !important;
}

.TagsGrid__listLink {
  background-color: var(--gray-extralight);
  display: block;
  padding: var(--size-05);
  text-decoration: none;
}

.TagsGrid__listLink:hover {
  background-color: var(--gray-light);
}
