/* Utilities
   ========================================================================== */

/**
 * Nicked from Cloud Four
 * https://cloudfour-patterns.netlify.app/patterns/utilities.html
 */

 .hidden-til-focus:not(:focus) {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

/**
 * Font sizing
 */

.font-size-0 {
  font-size: var(--size-0);
}

.font-size-1 {
  font-size: var(--size-1);
}

.font-size-2 {
  font-size: var(--size-2);
}

.font-size-3 {
  font-size: var(--size-3);
}

.font-size-4 {
  font-size: var(--size-4);
}

.font-size-5 {
  font-size: var(--size-5);
}

/**
 * Margin utilities
 */

.mt-none {
  margin-top: 0 !important;
}

.mt-0 {
  margin-top: var(--size-0) !important;
}

.mt-1 {
  margin-top: var(--size-1) !important;
}

.mt-2 {
  margin-top: var(--size-2) !important;
}

.mt-3 {
  margin-top: var(--size-3) !important;
}

.mt-4 {
  margin-top: var(--size-4) !important;
}

.mt-5 {
  margin-top: var(--size-5) !important;
}

.mb-none {
  margin-bottom: 0 !important;
}

.mb-0 {
  margin-bottom: var(--size-0) !important;
}

.mb-1 {
  margin-bottom: var(--size-1) !important;
}

.mb-2 {
  margin-bottom: var(--size-2) !important;
}

.mb-3 {
  margin-bottom: var(--size-3) !important;
}

.mb-4 {
  margin-bottom: var(--size-4) !important;
}

.mb-5 {
  margin-bottom: var(--size-5) !important;
}
