---
layout: layouts/base.njk
title: About Me
pageClass: Page--about
---
<article class="Prose Prose--contain" style="--linear-measure: 55rem;">
  {% image "align-start", "./src/images/self-portrait-fast-ink.jpg", "Sloppy drawing of myself" %}
  <h1 class="Article__title mt-none">About Me</h1>
  <p>I am a person based in Asheville, North Carolina, USA. Lately I have been <a href="/reading/and-drawing-all-the-books/">drawing all the books I read</a>.</p>
</article>
