---
layout: layouts/base.njk
title: About Me
pageClass: Page--about
---
<article class="Prose Prose--contain" style="--linear-measure: 50rem;">
  {% image "align-start", "./src/images/self-portrait-fast-ink.jpg", "Sloppy drawing of myself" %}
  <h1 class="Article__title mt-none">About Me</h1>
  <p>Hi. I am a person based in Asheville, North Carolina, USA. I do some web stuff and some music and I doodle a lot.</p>
  <p>Lately I’ve been <a href="/drawing-the-books-i-read/">drawing all the books I read</a>, and <a href="/diary/">other random stuff</a>, and <em>other</em> stuff that I will add to this site as time permits... but mostly, I’ve been being a new parent, navigating that space between juddery exhaustion and potent joy.</p>
  <p>PS – This site is under construction!</p>
  <figure class="align-none ratio ratio--square mt-none" style="margin-block-start: 0 !important;">
    <iframe src="https://player.vimeo.com/video/543968889?loop=1&amp;autoplay=1&amp;muted=1" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  </figure>
</article>
