---
title: Book drawings
layout: page
mainClass: flow
contentOutsideWrapper: true
intro: |
  <p>I've been drawing every book I read or listen to since 2020.</p>
  <!--{# {% include "partials/books-submenu.njk" %} #}-->
  <p>You can also see <a href="/reading/">a plain text list of what I’ve read each year</a>.</p>
---
<style>
.book-drawings {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  gap: var(--s0);
}

.book-drawings ::selection {
  background: rgba(0, 0, 0, 0.25);
}
</style>
<div class="book-drawings wrapper" style="--max-width: var(--width-full);">
  {% set currentYear = "" %}
  {% for book in collections.booksFinished %}
    {% if book.finish_year != currentYear %}
      {% set currentYear = book.finish_year %}
      {# <h2 class="mt-5" style="flex: 0 0 100%;">{{ book.finish_year }}</h2> #}
    {% endif %}
    {% if book.drawing %}
      {% set imgSrc %}./src/images/books/{{ book.slug }}.png{% endset %}
      {# New calculation #}
      {% set widthPx %}{{ book.w }}{% endset %}
      {# {% set width %}{{ (book.w * 17) }}{% endset %} #}
      {# Percentage calculation #}
      {% set widthPercent = book.w | int %}
      {# {% set widthPercent = widthPercent + 3 %} #}
      {% set altText %}Drawing of “{{ book.title }}”{% endset %}

      <style>
      {# .book {
        padding-inline-end: var(--size-base);
      } #}
      .book--px.book--{{ loop.index }} {
        width: calc({{ widthPx }} * 10px);
      }
      .book--percent.book--{{ loop.index }} {
        width: calc({{ widthPercent }} * 4%);
        {% set width1 = widthPercent * 4 %}
      }
      @media (min-width: 300px) {
        .book--percent.book--{{ loop.index }} {
          width: calc({{ widthPercent }} * 3%);
          {% set width2 = widthPercent * 3 %}
        }
      }
      @media (min-width: 500px) {
        .book--percent.book--{{ loop.index }} {
          width: calc({{ widthPercent }} * 2%);
          {% set width3 = widthPercent * 2 %}
        }
      }
      @media (min-width: 750px) {
        .book--percent.book--{{ loop.index }} {
          {#- width: calc({{ widthPercent }} * 1%); #}
          {# width: calc(({{ widthPercent }} + 3) * 1%); #}
          width: calc({{ widthPercent }} * 1.5%);
          {% set width4 = widthPercent * 1.5 %}
        }
      }
      @media (min-width: 1000px) {
        {# .book { padding-right: 1em; } #}
        .book--px.book--{{ loop.index }} {
          width: calc({{ widthPx }} * 17px);
        }
        .book--percent.book--{{ loop.index }} {
          width: calc(({{ widthPercent }} + 3) * 1%);
          {% set width5 = (widthPercent + 3) * 1 %}
        }
      }
      </style>

      {# TODO: This is no good #}
      {% set imgSizes %}(min-width: 1000px) calc({{ width5 }}vw - 64px), (min-width: 750px) calc({{ width4 }}vw - 64px), (min-width: 500px) calc({{ width3 }}vw - 64px), (min-width: 300px) calc({{ width2 }}vw - 64px), calc({{ width1 }}vw - 64px){% endset %}

      <figure class="book book--percent book--{{ loop.index }}">
        {% bookImg { src: imgSrc, alt: altText, sizes: imgSizes } %}{% endbookImg %}
      </figure>

    {% endif %}
  {% endfor %}
</div>
