---
title: Diary
layout: layouts/base.njk
---
{# <h1 class="constrain-and-center" style="font-size: 5em;">{{ title }}</h1> #}

<section class="Grid space-items-xl">

  {% for item in collections.posts %}
    {% if item.data.status != "draft" %}
      {% include "snippets/article-list.njk" %}
    {% endif %}
  {% endfor %}

</section>