---
layout: layouts/base.njk
title: I like to read books
---
<style>
:-moz-broken { outline: solid red }
</style>
<section class="Grid Article space-items-lg">
  <h1>{{ title }}</h1>
  <p>I’ve been drawing the books I read (or listen to) since the beginning of 2020. You can <a href="/books-ive-read/">view my reading list as plain text</a> if loading all these images is an issue.</p>
</section>

{# <h2>Flex version</h2> #}
<section style="display: flex; flex-wrap: wrap; align-items: flex-end;">
  {%- for book in collections.booksRead -%}
    {# See if the spreadsheet says this book has a drawing #}
    {%- if book.gsx$drawing.$t == "TRUE" -%}
      {%- set bookTitle -%}{{ book.gsx$title.$t }}{%- endset -%}
      {%- set yearFinished -%}{{ book.gsx$finish_date.$t }}{%- endset -%}
      {%- set imgSrc -%}/images/books/{{ book.gsx$slug.$t }}.png{%- endset -%}
      {# New calculation #}
      {%- set widthPx -%}{{ book.gsx$width.$t }}{%- endset -%}
      {# {%- set width -%}{{ (book.gsx$width.$t * 17) }}{%- endset -%} #}
      {# Percentage calculation #}
      {%- set widthPercent -%}{{ ((book.gsx$width.$t * 1) + 3) | round(0, "ceil") }}{%- endset -%}
      <style>
      .book { padding-right: 0.5em; }
      .book--px.book-{{ loop.index }} {
        width: calc({{ widthPx }} * 10px);
      }
      {# .book--percent.book-{{ loop.index }} {
        width: {{ widthPercent }}%;
      } #}
      .book--percent.book-{{ loop.index }} {
        width: calc({{ widthPercent }} * 4%);
      }
      @media (min-width: 250px) {
        .book--percent.book-{{ loop.index }} {
          width: calc({{ widthPercent }} * 2%);
        }
      }
      @media (min-width: 500px) {
        .book--percent.book-{{ loop.index }} {
          width: calc({{ widthPercent }} * 1.5%);
        }
      }
      @media (min-width: 750px) {
        .book--percent.book-{{ loop.index }} {
          {#- width: calc({{ widthPercent }} * 1%); #}
          width: {{ widthPercent }}%;
        }
      }
      {#- @media (min-width: 650px) {
        .book--percent.book-{{ loop.index }} {
          width: calc({{ widthPercent }} * 2%);
        }
      } #}
      @media (min-width: 1000px) {
        .book { padding-right: 1em; }
        .book--px.book-{{ loop.index }} {
          width: calc({{ widthPx }} * 17px);
        }
        .book--percent.book-{{ loop.index }} {
          width: {{ widthPercent }}%;
        }
      }
      {#- Then just set a max-width on the container so they don't get *too* big. #}
      </style>
      <figure class="book book--percent book-{{ loop.index }}">
        <!-- {{ widthPercent }} -->
        <img alt="{{ bookTitle }}" src="{{ imgSrc | url | safe }}">
      </figure>
    {%- endif -%}
  {% endfor %}
</section>

{#
 # 1. Grid version I had previously
 #}
{# <h2>Grid version</h2>
<section style="display: grid; grid-template-columns: repeat(100, 1fr); grid-column-gap: 8px; grid-row-gap: 0; align-items: end;">
  {% for book in collections.booksRead %}
    <!-- See if the spreadsheet says this book has a drawing -->
    {% if book.gsx$drawing.$t == "TRUE" %}
      {% set imgSrc %}/images/books/{{ book.gsx$slug.$t }}.png{% endset %}
      {% set width %}{{ (book.gsx$width.$t * 1) + 3 }}{% endset %}
      {% set width %}{{ width | round(0, "ceil") }}{% endset %}
      <figure style="grid-column-end: span {{ width }};">
        <img alt="" src="{{ imgSrc | url | safe }}">
      </figure>
    {% endif %}
  {% endfor %}
</section> #}
