---
layout: layouts/base.njk
title: I like to read books
---
<style>
:-moz-broken { outline: solid red }
</style>
<section class="Grid Article space-items-lg">
  <h1>{{ title }}</h1>
  <p>And I’ve been drawing all of them for the past couple years. Here they are. If all these images are too much, you can see them as a <a href="/books-ive-read/">plain text list</a>. I also have a page with <a href="/books-ive-read-with-notes/">the drawings and some notes</a>.</p>
  {# <p>I’ve been drawing the books I read (or listen to) since the beginning of 2020. You can <a href="/books-ive-read/">view my reading list as plain text</a> if loading all these images is an issue.</p> #}
  {# {% include "snippets/books-submenu.njk" %} #}
</section>

{# <h2>Flex version</h2> #}
<section class="mt-lg space-items-md" style="display: flex; flex-wrap: wrap; align-items: flex-end; max-width: 90%; margin-left: auto; margin-right: auto; position: relative;">
  {%- set currentYear = "" -%}
  {%- for book in collections.booksRead -%}
    {% set bookSlug = book.c[1].v %}
    {% set bookTitle = book.c[2].v %}
    {% set bookAuthor = book.c[3].v %}
    {% set bookGenre = book.c[4].v %}
    {% set bookYear = book.c[5].v %}
    {% set bookStartDate = book.c[6].f %}
    {% set bookFinishDate = book.c[7].f %}
    {% set bookFinishYear = book.c[8].v %}
    {% set bookMedia = book.c[9].v %}
    {% set bookWidth = book.c[10].v %}
    {% set bookHeight = book.c[11].v %}
    {% set hasDrawing = book.c[12].f %}
    {% set bookVia = book.c[13].v %}
    {% set bookDesc = book.c[14].v %}

    {%- if bookFinishYear != currentYear -%}
      {%- set currentYear = bookFinishYear -%}
      {# {{ currentYear | dump }} #}
      <h2 style="flex: 0 0 100%;">{{ bookFinishYear }}</h2>
    {%- endif -%}
    {# See if the spreadsheet says this book has a drawing #}
    {%- if hasDrawing == "TRUE" -%}
      {%- set imgSrc -%}/images/books/{{ bookSlug }}.png{%- endset -%}
      {# New calculation #}
      {%- set widthPx -%}{{ bookWidth }}{%- endset -%}
      {# {%- set width -%}{{ (bookWidth * 17) }}{%- endset -%} #}
      {# Percentage calculation #}
      {%- set widthPercent = bookWidth | int -%}
      {# {%- set widthPercent = widthPercent + 3 -%} #}
      <style>
      .book { padding-right: 0.5em; }
      .book--px.book-{{ loop.index }} {
        width: calc({{ widthPx }} * 10px);
      }
      {# .book--percent.book-{{ loop.index }} {
        width: {{ widthPercent }}%;
      } #}
      .book--percent.book-{{ loop.index }} {
        width: calc({{ widthPercent }} * 4%);
      }
      @media (min-width: 250px) {
        .book--percent.book-{{ loop.index }} {
          width: calc({{ widthPercent }} * 2%);
        }
      }
      @media (min-width: 500px) {
        .book--percent.book-{{ loop.index }} {
          width: calc({{ widthPercent }} * 1.5%);
        }
      }
      @media (min-width: 750px) {
        .book--percent.book-{{ loop.index }} {
          {#- width: calc({{ widthPercent }} * 1%); #}
          width: {{ widthPercent }}%;
        }
      }
      @media (min-width: 1000px) {
        .book { padding-right: 1em; }
        .book--px.book-{{ loop.index }} {
          width: calc({{ widthPx }} * 17px);
        }
        .book--percent.book-{{ loop.index }} {
          width: calc(({{ widthPercent }} + 3) * 1%);
        }
      }
      </style>
      <figure class="book book--percent book-{{ loop.index }}">
        <!-- {{ widthPercent }} -->
        <img alt="Drawing of “{{ bookTitle }}”" src="{{ imgSrc | url | safe }}">
      </figure>
    {%- endif -%}
  {% endfor %}
</section>
