---
layout: layouts/base.njk
title: I draw every book I read
pageClass: Page--readingDrawings
permalink: "drawing-the-books-i-read/"
# fakeUrl: "/reading/"
---
<style>
:-moz-broken { outline: solid red }
</style>
<article class="Article Prose">
  <header class="Article__header Prose--contain">
    <h1 class="Article__title">{{ title }}</h1>
    <p>I've been doing this for the past couple years. Here they are.</p>
    {% include "snippets/books-submenu.njk" %}
  </header>
</section>

<section class="BooksDrawingGrid mt-5" style="--flow-space: 0.5em; display: flex; flex-wrap: wrap; align-items: flex-end;">
  {% set currentYear = "" %}
  {% for book in collections.booksRead %}
    {% set bookSlug = book.c[1].v %}
    {% set bookTitle = book.c[2].v %}
    {% set bookAuthor = book.c[3].v %}
    {% set bookGenre = book.c[4].v %}
    {% set bookYear = book.c[5].v %}
    {% set bookStartDate = book.c[6].f %}
    {% set bookFinishDate = book.c[7].f %}
    {% set bookFinishYear = book.c[8].v %}
    {% set bookMedia = book.c[9].v %}
    {% set bookWidth = book.c[10].v %}
    {% set bookHeight = book.c[11].v %}
    {% set hasDrawing = book.c[12].f %}
    {% set bookVia = book.c[13].v %}
    {% set bookDesc = book.c[14].v %}

    {% if bookFinishYear != currentYear %}
      {% set currentYear = bookFinishYear %}
      {# <h2 class="mt-5" style="flex: 0 0 100%;">{{ bookFinishYear }}</h2> #}
    {% endif %}
    {# See if the spreadsheet says this book has a drawing #}
    {% if hasDrawing %}
      {% set imgSrc %}./src/images/books/{{ bookSlug }}.png{% endset %}
      {# so, you can't pass the below var into the shortcode... should be okay, as long as there aren't any special characters in slug #}
      {# {% set imgSrcUrl = imgSrc | url | safe %} #}
      {# New calculation #}
      {% set widthPx %}{{ bookWidth }}{% endset %}
      {# {% set width %}{{ (bookWidth * 17) }}{% endset %} #}
      {# Percentage calculation #}
      {% set widthPercent = bookWidth | int %}
      {# {% set widthPercent = widthPercent + 3 %} #}
      {% set altText %}Drawing of “{{ bookTitle }}”{% endset %}
      <style>
      .book { padding-right: 0.5em; }
      .book--px.book-{{ loop.index }} {
        width: calc({{ widthPx }} * 10px);
      }
      .book--percent.book-{{ loop.index }} {
        width: calc({{ widthPercent }} * 4%);
      }
      @media (min-width: 300px) {
        .book--percent.book-{{ loop.index }} {
          width: calc({{ widthPercent }} * 3%);
        }
      }
      @media (min-width: 500px) {
        .book--percent.book-{{ loop.index }} {
          width: calc({{ widthPercent }} * 2%);
        }
      }
      @media (min-width: 750px) {
        .book--percent.book-{{ loop.index }} {
          {#- width: calc({{ widthPercent }} * 1%); #}
          {# width: calc(({{ widthPercent }} + 3) * 1%); #}
          width: calc({{ widthPercent }} * 1.5%);
        }
      }
      @media (min-width: 1000px) {
        .book { padding-right: 1em; }
        .book--px.book-{{ loop.index }} {
          width: calc({{ widthPx }} * 17px);
        }
        .book--percent.book-{{ loop.index }} {
          width: calc(({{ widthPercent }} + 3) * 1%);
        }
      }
      </style>

      <figure class="book book--percent book-{{ loop.index }}">
        {% bookImg { src: imgSrc, alt: altText, sizes: "100vw" } %}{% endbookImg %}
      </figure>

    {% endif %}
  {% endfor %}
</section>
