---json
{
  "permalink": "feed-notes-text.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "minttoothpick - Notes",
    "subtitle": "Brief posts that get syndicated to Twitter.",
    "url": "https://minttoothpick.com/",
    "feedUrl": "https://minttoothpick.com/feed-notes-text.xml",
    "author": {
      "name": "Jeremy Robert Jones",
      "email": "minttoothpick+hello@protonmail.com"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.notes | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in collections.notes %}
  {%- if post.data.type === "text" %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.date }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endif %}
  {%- endfor %}
</feed>
