---
title: Image test
layout: page
---
{% image "align-full-bleed", "./src/images/creepy-mall.jpg", "ALT: photo of my cat", "caption: caption yay" %}

<p>Full size and 1920px</p>
<ol>
  <li>Full size @ good: 1.6 MB</li>
  <li>Full size @ good thru Sharp @ 80 down to 1920px: 665 KB</li>
  <li>Full size @ fair: 1.2 MB</li>
  <li>Full size @ fair thru Sharp @ 80 down to 1920px: <b>669 KB</b></li>
  <li>Full size @ poor: 1 MB</li>
  <li>Full size @ poor thru Sharp @ 80 down to 1920px: <b>662 KB</b></li>
  <li>Full size @ poor thru Sharp @ 70 down to 1920px: 526 KB</li>
</ol>
<p>Image compression test (1344px)</p>
<ol>
  <li>Original: 1.5 MB</li>
  <li>Original → Sharp @ 80: 402 KB</li>
  <li>Original → Photoshop @ verygood: 450 KB</li>
  <li>Photoshop @ verygood → Sharp @ 80: 390 KB</li>
</ol>

<div id="imgLogger" style="position: fixed; background: rgba(0,0,0,0.5); color: white; padding: 0.25em; bottom: 20px; right: 20px;">Hello I am the logger!</div>
<script>
(function() {
  var currentSrc, oldSrc, imgEl;
  var showPicSrc = function() {
    oldSrc     = currentSrc;
    imgEl      = document.querySelectorAll('img')[0];
    currentSrc = imgEl.currentSrc || imgEl.src;

    if (typeof oldSrc === 'undefined' || oldSrc !== currentSrc) {
      document.getElementById('imgLogger').innerHTML = currentSrc;
    }
  };

  // You may wish to debounce resize if you have performance concerns
  window.addEventListener('resize', showPicSrc);
  window.addEventListener('load', showPicSrc);
})(window);
</script>
