---
layout: layouts/home.njk
---
<section class="Grid">
  
</section>

<section class="Grid space-items-xl">

  {# <p class="font-md">Hi, I'm Jeremy. This is my website. I'm still working on it.</p> #}

  {% for item in collections.posts | reverse %}
    {% if item.data.status != "draft" %}
      {% include "snippets/article-list.njk" %}
    {% endif %}
  {% endfor %}

</section>