---
layout: base
fakeUrl: home
---
<article class="post wrapper flow">
  <div class="post__header">
    <h1 class="post__title">Hey, welcome</h1>
  </div>

  <div class="prose-width prose-flow flow-condensed">
    <p>You found my site. There is not a whole lot going on around here yet, but <a href="/diary/under-construction/">I’m working on it</a>.</p>
    <h2>Here are some things you might be interested in ↷</h2>
    <ul>
      <li>I <a href="/reading/">read a lot</a>, and I <a href="/book-drawings/">draw every book when I'm finished</a>.</li>
      <li>The fragmentary and sporadic output I find time to sling into the void lately <a href="https://www.instagram.com/minttoothpick/">ends up on Instagram</a>.</li>
      <li><a href="/music/">Music!</a></li>
    </ul>
  </div>
</article>

{# {% set collection = collections.posts %}
{% include "partials/articles-list.njk" %} #}
