---
layout: layouts/base.njk
title: Life in Weeks
start_date: 1985-02-11
end_year: 2086
comment: The below should be split from start_date
start_year: 1985
start_month: 02
start_day: 11
---
{# TODO: Change font numeral settings to... equal height, whatever that is #}
<style>
.weeks {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--font-mono);
  font-size: 0.4em;
  line-height: 1.2;
}
.week {
  display: flex;
  align-content: center;
  align-items: center;
  {# flex-direction: column; #}
  border: 1px solid rgba(0, 0, 0, 0.25);
  height: 2.2rem;
  width: 2.2rem;
  margin: 2px;
  {# padding: 2px 5px; #}
  text-align: center;
}
.week-inner {
  {# display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
  height: 100%; #}
  width: 100%;
  {# flex-direction: column; #}
}
.week--birthday {
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.week--future {
  background-color: rgba(0, 0, 0, 0.25);
}
</style>

{# {{ lifeInWeeks['1985-06-10'][0]['name'] }} #}

{# {% for whatever in lifeInWeeks %}
  {{ whatever['name'] }}
{% endfor %} #}

{# {{ lifeInWeeks | dump }} #}

{% set start_month = start_month | padZeros(2) %}
{% set start_day = start_day | padZeros(2) %}

<section>
  <h1>{{ title }}</h1>
  <section>
  {# <ol> #}
  {# Loop through a hundred years of life #}
  {% for year in range(start_year, end_year) %}
    {% set this_year %}{{ year }}-{{ start_month }}-{{ start_day }}{% endset %}
    {% set next_year %}{{ year + 1 }}-{{ start_month }}-{{ start_day }}{% endset %}

    {% set age = year - start_year %}
    {# Group by decade #}
    {% if age % 10 == 0 %}
      {% if age == 0 %}
        <h2>My first ten years</h2>
      {% elseif age == 10 %}
        <h2>My teens</h2>
      {% elseif age == 100 %}
        <h2>A century!</h2>
      {% else %}
        <h2>My {{ age }}s</h2>
      {% endif %}
      {# Open flex container for this decade #}
      <div class="weeks">
    {% endif %}{# if age % 10 == 0 #}

    {# Output birthday weeks #}
    <div class="week week--birthday">{{ age }} in {{ year }}</div>
    {# <li>{{ age }} in {{ year }}</li> #}

    {% for week in range(0, 52) %}
      {# Compute seconds in each week #}
      {% set week_mod = 604800 * week %}
      {# Convert this year to seconds #}
      {% set this_week_date = this_year | simpleDateToSeconds %}
      {# Take this week in seconds and add another week's worth #}
      {% set this_week_date = (this_week_date + week_mod) | simpleDateFromSeconds %}
      {% set end_year_date = this_week_date | simpleDateToSeconds %}
      {% set end_year_date = (end_year_date + week_mod) | simpleDateFromSeconds %}
      <div class="week" data-date="{{ this_week_date }}">
      {# <li> #}
        {% for day in range(0, 7) %}
          {% set day_modifier = 86400 * day %}
          {% set specific_date = this_week_date | simpleDateToSeconds %}
          {% set specific_date = (specific_date + day_modifier) | simpleDateFromSeconds %}
          {% if specific_date < next_year %}
            {% for event in lifeInWeeks[specific_date] %}
              <span{% if event.desc %} data-toggle="popover" data-tippy-content="{{ event.desc }}"{% endif %} class="week-inner">{{ event.name }}</span>
              {# <a {% if event.link %}href="{{ event.link }}" {% endif %} target="_new" {% if event.desc %}data-toggle="popover" data-placement="auto" {% endif %}title="{{ specific_date }}" data-trigger="hover" data-content="{{ event.desc }}">{{ event.name }}</a> #}
            {% endfor %}
          {% endif %}{# if specific_date < next_year #}
        {% endfor %}{# for day in range(0, 6) #}
      </div>
      {# </li> #}
    {% endfor %}{# loop thru each year's weeks #}

    {# Close flex container for this decade #}
    {% if age % 10 == 9 %}</div>{% endif %}

  {% endfor %}{# loop thru every year #}
  </section>
  {# </ol> #}
</section>

<script>
if (document.readyState !== 'loading') {
  dateStuff();
} else {
  document.addEventListener('DOMContentLoaded', dateStuff);
}

function dateStuff() {
  let today = new Date();
  let weeks = document.querySelectorAll(".week");
  Array.prototype.forEach.call(weeks, function(el, i) {
    if (today < Date.parse(el.getAttribute('data-date'))) {
      el.classList.add('week--future');
    }
  });
}
</script>

{# this was in base.njk #}
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
<script>
if (document.readyState !== 'loading') {
  toolTips();
} else {
  document.addEventListener('DOMContentLoaded', toolTips);
}

function toolTips() {
  tippy('[data-toggle="popover"]', {
    content: "Test!"
  });
  // $('[data-toggle="popover"]').popover() })
  // let items = document.querySelectorAll('[data-toggle="popover"]');
  // Array.prototype.forEach.call(items, function(el, i) {
  //   el.
  //}
}
</script>
