---
layout: layouts/base.njk
title: What I’m doing now
date: 2021-09-17
pageClass: Page--now
location: Daphne, Alabama, USA
---
<article class="Prose Prose--contain" style="--linear-measure: 55rem;">
  {% image "align-start", "./src/images/self-portrait-fast-ink.jpg", "Sloppy drawing of myself" %}
  <header class="Article__header mt-none">
    <h1 class="Article__title">{{ title }}</h1>
    <dl class="Article__meta">
      <dt>Updated on</dt>
      <dd><time datetime="{{ page.date | date('iso') }}">{{ page.date | date('nice') }}</time></dd>
      {% if location %}
        <dt class="visually-hidden">Published in</dt>
        <dd>{{ location }}</dd>
      {% endif %}
    </dl>
  </header>
  <p>I haven’t sweltered through a real southern summer like this in a long time. We have been staying with family in Daphne, Alabama for the past three months. Taking care of a fresh baby through a pandemic lockdown, just the two of us, was proving to be isolating and exhausting. As my employer has not yet stated a return-to-office date, why <em>not</em> take advantage of loving company and helping hands!</p>
  <p>I am loving the profusion of basil growing in the back yard here; I add it to most of my meals just because it’s available.</p>
  <h2>I’m currently reading:</h2>
  {% set noSubtitle = "true" %}
  {% include "snippets/books-reading-list.njk" %}
  <div class="Prose mt-5" style="--linear-measure: var(--text-measure);">
    <p>I suppose <strong>the biggest project I have completed recently</strong> is the publishing of this website—<a href="{{ '/diary/under-construction/' | url }}">although it’s still under construction, FYI</a>. But it feels good to have it live at last, and I have gained some practice with CSS grid layout (much thanks to Jen Simmons’ <a href="https://www.youtube.com/playlist?list=PLbSquHt1VCf18lllS0C5quAaOcsuMAC70">Layout Land videos</a>), responsive images, and <a href="https://www.11ty.dev/">Eleventy</a>.</p>
    <p>And I <strong>just released some music</strong>: <a href="/music/">my first collection of songs, called <em>Returner, Commence</em></a>.</p>
    {# <p><strong>I am (very slowly) learning</strong> SuperCollider, thanks to <a href="https://www.youtube.com/playlist?list=PLPYzvS8A_rTZmJZjUtMG6GJ2QkLUEaY4Q">these classes by Eli Fieldsteel</a>.</p> #}
    <p>Other than that, <strong>lately I’ve been</strong>:</p>
    <ul>
      <li><a href="{{ '/drawing-the-books-i-read/' | url }}">drawing all the books I read</a>,</li>
      <li><a href="{{ '/diary/' | url }}">doodling and making random stuff as time permits</a>, and</li>
      <li>just existing, navigating the juddery exhaustions, potent joys, crushing exasperations, and awestruck instants of new parenthood.</li>
    </ul>
  </div>
</article>
