---
layout: layouts/base.njk
title: What I’m Doing Now
pageClass: Page--now
---
<article class="Prose Prose--contain" style="--linear-measure: 55rem;">
  {% image "align-start", "./src/images/self-portrait-fast-ink.jpg", "Sloppy drawing of myself" %}
  <h1 class="Article__title mt-none">{{ title }}</h1>
  <h2>Books I’m currently reading</h2>
  {% include "snippets/books-reading-list.njk" %}
  <p>I’m beginning to learn SuperCollider with these <a href="https://www.youtube.com/playlist?list=PLPYzvS8A_rTZmJZjUtMG6GJ2QkLUEaY4Q">tutorials by Eli Fieldsteel</a>.</p>
  <p>In working on this website, I have gained some valuable practice with CSS grid layout, responsive images, and Eleventy.</p>
  <p>Lately I’ve been <a href="/drawing-the-books-i-read/">drawing all the books I read</a>, and <a href="/diary/">other random stuff</a>, and <em>other</em> stuff that I will add to this site as time permits... but mostly, I’ve been being a new parent, navigating that space between juddery exhaustion and potent joy.</p>
  <p>PS – <a href="{{ '/diary/under-construction/' | url }}">This site is under construction!</a></p>
</article>
