---
title: I like to read books
layout: page
intro: |
  <p>And here is a list of them.</p>
  <p>A ✺ denotes a book that I highly recommend—I either really enjoyed it, or felt that I got something valuable from it (or both!).</p>
  <!--{% include "partials/books-submenu.njk" %}-->
  <p>I also draw every book I read; <a href="/book-drawings/">you can see those here</a>.</p>
---
<style>
.grid-sticky-thirds + .grid-sticky-thirds {
  --flow-space: var(--flow-expanded);
}
</style>

{##
 # Books in progress
 #}
<section class="grid-sticky-thirds" id="currently-reading" style="--text-width: 100%;">
  {% include "partials/books-reading-list.njk" %}
</section>

{##
 # Books read, sorted by year
 #}
{% set currentYear = "" %}
{% for book in collections.booksFinished %}

  {% if currentYear != book.finish_date %}
    {% set currentYear = book.finish_date %}
    {% if loop.first %}{% else %}</ul></section>{% endif %}
    <section class="grid-sticky-thirds" id="{{ currentYear }}" style="--text-width: 100%;">
      <h2>{{ book.finish_date }}</h2>
      <ul class="list-condensed">
  {% endif %}

  <li{% if book.✔ %} style="--list-marker-content: '✺ ';"{% endif %}>
    {% if book.✔ %}<span class="visually-hidden">Highly recommended: </span>{% endif %}
    <em>{{ book.title }}</em>
    <span class="text-small">by {{ book.author | formatAuthor }}</span>
  </li>

  {% if loop.last %}</ul>{% endif %}

{% endfor %}{# for book in collections.booksFinished #}
