---
layout: layouts/page.njk
pageClass: Page--tags Page--tagsSingle
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
eleventyComputed:
  title: "Stuff tagged “{{ tag }}”"
---
{% for post in collections[tag] | reverse %}
  {% if loop.first %}<ul class="PostsList">{% endif %}
  <li>
    <a href="{{ post.url | url }}">{{ post.data.title | safe if post.data.title else post.fileSlug }}</a>
    <dl class="Article__meta">
      <dt class="visually-hidden">Published on</dt>
      <dd><time datetime="{{ post.date | date('iso') }}">{{ post.date | date('nice') }}</time></dd>
    </dl>
    {% include "snippets/tags-list.njk" %}
  </li>
  {% if loop.last %}</ul>{% endif %}
{% else %}
  <p>Nothing here!</p>
{% endfor %}

<a href="/tags/">View all tags</a>
