---
title: Tags
layout: page
---
<ul class="TagsGrid list-unstyled" role="list">
{%- for tag in collections.tagList %}
  <li class="TagsGrid__listItem">
    <a class="TagsGrid__listLink" href="{{ tag | url }}">{{ tag }}</a>
  </li>
{%- endfor %}
</ul>
