---
layout: layouts/base.njk
title: GSheets JSON Test
---
<h1>Hello</h1>

{#
0: checkmark for recommended
1: slug
2: title
3: author
4: genre
5: year
6: start
7: end
8: finish_year
9: media
10: width
11: height
12: drawing?
13: via
14: text
#}

{# {{ collections.booksRead[0] | dump }} #}

{# {% for book in collections.booksRead %}
  {{ book.c[2].v | dump }}
{% endfor %} #}

{% for book in collections.booksRead %}
  {% set bookSlug = book.c[1].v %}
  {% set bookTitle = book.c[2].v %}
  {% set bookAuthor = book.c[3].v %}
  {% set bookDrawing = book.c[12].f %}

  {%- if bookDrawing == "TRUE" -%}
    {%- set imgSrc -%}/images/books/{{ bookSlug }}.png{%- endset -%}
    <img alt="Drawing of “{{ bookTitle }}”" src="{{ imgSrc | url | safe }}">
  {%- endif -%}{# check for drawing #}
{% endfor %}
