<style>
.note {
  display: grid;
  column-gap: var(--s1);
  grid-template-columns: auto 1fr;
}
.note__meta {
  line-height: 1.2;
  margin-block-start: var(--s03);
  text-align: right;
}
</style>

{# {% if not collection %}{% set collection = collections.posts %}{% endif %} #}
<div class="articles-list flow-expanded">
  {% for item in collection | reverse %}
    {# Show draft items when on dev environment #}
    {# {% if (item.data.status !== "draft") or ((item.data.status === "draft") and (site.env === "dev")) %} #}
    <article class="note post grid wrapper">
      <time class="note__meta text-small" datetime="{{ item.date | date('iso') }}">
        {{ item.date | date('DATE_MED_WITH_WEEKDAY') }}
        <br>
        {{ item.date | date('TIME_24_SIMPLE', 'America/New_York') }}
        {# {{ item.data.title | dateFromUnix('date') }}
        <br>
        {{ item.data.title | dateFromUnix('time') }} #}
      </time>

      <div class="prose-width prose-flow flow">
        {{ item.templateContent | safe }}
      </div>
    </article>
    {# {% endif %} #}{# Check whether we're on dev environment #}
  {% endfor %}
</div>
<!-- .articles-list -->
